@using Igi_project.Blazor.Client.Components
@page "/apidemo"
@inject HttpClient client
<div class="container">
    <DishesList @bind-Dishes="@Dishes"></DishesList>
</div>
@code {
    [Parameter]
    public IEnumerable<ListViewModel> Dishes { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Dishes = await
        client.GetFromJsonAsync<IEnumerable<ListViewModel>>("api/dishes");
    }
}